{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Meta e Título -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Contatos Disponíveis{% endblock %}</title>
    <link rel="icon" sizes="32x32" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Início do Wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        {% include 'global/partials/_navbar.html' %}

        <!-- Conteúdo Principal -->
        <!-- Seção Contatos -->
        <div class="content">
            {% block content %}
            {% include 'global/partials/_contact_session.html' %}

            <!-- Paginação -->
            {% include 'global/partials/_pagination.html' %}

            {% endblock %}
        </div>

        <!-- Footer -->
        {% include 'global/partials/_footer.html' %}
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
