{% if page_obj %}
<nav aria-label="Navegação de página" class="mt-4">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1&q={{ request.GET.q.strip }}" aria-label="Primeira página">
                <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q.strip }}" aria-label="Página anterior">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q.strip }}" aria-label="Próxima página">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q.strip }}" aria-label="Última página">
                <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}